[user]
	name = Rodrigo López Dato
	signingkey = 629AED33F024F703
	useConfigOnly = true
	email = \"<rolodato@rolodato.com>\"
[core]
	autocrlf = input
	excludesfile = /Users/rolodato/.gitignore_global
	editor = /usr/bin/vim
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[alias]
	upstream = remote add upstream
	s = status
	r = remote -v
