[user]
	name = Rodrigo López Dato
	signingkey = B428842D00E7B480
	useConfigOnly = true
[core]
	autocrlf = input
	excludesfile = /Users/rolodato/.gitignore_global
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[alias]
	s = status
	r = remote -v
